.profile--cont__outer {
  display: flex;
  justify-content: flex-start;
  /* border: 5px black solid; */
}

.profile--cont__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic--cont {
  display: flex;
  justify-content: center;
  /* border: 5px black solid; */
  /* width: 100px; */
}

.bio--cont {
  display: grid;
  /* justify-content: center; */
  /* border: 5px black solid; */
}

.btn--cont {
  display: grid;
  justify-content: center;
  border: 5px black solid;
}

.pic--cont img {
  border-radius: 50%;
  object-fit:fill;
  width: 150px;
  height: 150px;
}