.dashboard--container {
  display: flex;
}

.habit--container {
  /* border: solid black 2px; */
  margin: 30px 0 0 30px;
  width: 400px;
  justify-content: center;
}

.habit--container h3 {
  text-align: center;
}

.habit--progress {
  width: 100%;
  font-size: 0.8rem;
}

.habit--progress__cont {
  display: flex;
}

.habit--plus, .habit--minus {
  margin: -5px 0 20px 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.habit--plus img {
  width: 20px;
}

.habit--card__details {
  display: flex;
  justify-content: space-between;
}

.habit--card__habit {
  display: flex;
  /* margin-bottom: -10px; */
}

.edit--icon {
  padding-left: 5px;
}

.habit--card__percent {
  margin-right: 35px;


}