

/* Edit Icon */
.entry-habit__title {
  display: flex;
}

.edit-icon {
  height: 20px;
}

/* .journal-cont {
  margin: 30px 0 0 30px;
  max-width: 450px;
} */

.journal-dropdown {
  width: 242px;
  padding-bottom: 5px;
  margin-top: 15px;
}

.save-button__cont {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}

.entry-cont {
  padding: 10px 0;
}

.journal-cont h3 {
  text-align: center;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  /* border: 1px black solid; */

}


.laptop-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px black solid; */
}

.journal-list {
  width: 550px;
  color: #66FF66 !important;
  font-family: 'New', sans-serif;
}

.laptop-screen__bttm {
  overflow: auto;
  height: 400px;


}

.journal-form  {
  padding-right: 5px;
}