/* Background */
body {
  /* background-image: url('./images/new-background.svg'); */
  background-repeat: no-repeat;
  /* background-size: 1550px; */
  /* background-position-y: 10px;
  background-attachment: fixed; */
  background-color: #A2D5F2 !important;

}


svg {
  position: absolute;
  min-width: 1500px;
  bottom: 0;
  left: 0;
  z-index: -2;
  overflow: visible;
}






.cloud1 {
  animation: cloud-anim1 70s linear infinite;
  // margin-left: 500px;
}
@keyframes cloud-anim1 {
  0% {
    opacity: 1;
    transform: translateX(0)
  }
  
  50% {
    opacity: 1;
    transform: translateX(-60%);
  }
  
  51% {
    opacity: 0;
    transform: translateX(-60%);
  }
  
  52% {
    opacity: 0;
    transform: translateX(55%)
  }
  
  53% {
    opacity: 1;
    transform: translateX(55%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cloud2 {
  animation: cloud-anim2 70s  infinite linear;
  
}
@keyframes cloud-anim2 {
  0% {
    opacity: 1;
    transform: translateX(0)
  }
  
  50% {
    opacity: 1;
    transform: translateX(-75%);
  }
  
  51% {
    opacity: 0;
    transform: translateX(-75%);
  }
  
  52% {
    opacity: 0;
    transform: translateX(35%)
  }
  
  53% {
    opacity: 1;
    transform: translateX(35%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cloud3 {
  animation: cloud-anim3 80s infinite linear;
  
}
@keyframes cloud-anim3 {
  0% {
    opacity: 1;
    transform: translateX(0)
  }
  
  50% {
    opacity: 1;
    transform: translateX(-100%);
  }
  
  51% {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  52% {
    opacity: 0;
    transform: translateX(15%)
  }
  
  53% {
    opacity: 1;
    transform: translateX(15%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cloud4 {
  animation: cloud-anim4 infinite 60s linear;
  opacity: 0;
}
@keyframes cloud-anim4 {
  0% {
    opacity: 1;
    transform: translateX(0)
  }
  
  50% {
    opacity: 1;
    transform: translateX(-40%);
  }
  
  51% {
    opacity: 0;
    transform: translateX(-40%);
  }
  
  52% {
    opacity: 0;
    transform: translateX(70%)
  }
  
  53% {
    opacity: 1;
    transform: translateX(70%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
    
.cloud5 {
      animation: cloud-anim5 70s infinite linear;
    }
    
@keyframes cloud-anim5 {
  0% {
    opacity: 1;
    transform: translateX(0)
  }
  
  40% {
    opacity: 1;
    transform: translateX(-25%);
  }
  
  51% {
    opacity: 0;
    transform: translateX(-25%);
  }
  
  52% {
    opacity: 0;
    transform: translateX(90%)
  }
  
  53% {
    opacity: 1;
    transform: translateX(90%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.cloud6 {
  animation: cloud-anim9 55s infinite ease-in-out ;
  animation-delay: 10s;
  // margin-left: 500px;
}

.cloud7 {
  animation: cloud-anim9 65s  infinite ease-in-out;
  animation-delay: 20s;

}

.cloud8 {
  animation: cloud-anim9 75s infinite ease-in-out;
  animation-delay: 5s;

}

.cloud9 {
  animation: cloud-anim9 85s infinite ease-in-out;
  animation-delay: 15s;
}

.cloud10 {
  animation: cloud-anim9 105s infinite ease-in-out;
  animation-delay: 30s;
}

@keyframes cloud-anim9 {
  from {
    transform: translateX(1%);
  }
  to {
    transform: translateX(-120%)
  }
}