.navbar {
  display: flex;
  font-family: 'Poppins', sans-serif;
  /* color: #599bd4 !important; */
  font-weight: 900;
  background-color: transparent !important;
  /* height: 100px; */
  /* border: black 1px solid; */
  /* z-index: 1; */
  width: auto !important;
  line-height: 10px;
}

nav img {
  max-width: 350px;
  padding-left: 100px;

}

nav ul {
  list-style-type: none !important;
}
/* !!! Blue color that I like: #599bd4 !important; */

.btn {
  background: transparent !important;
  outline: none !important;
  border: 1px solid #66FF66 !important;
}

/* .progress {
  background-color: transparent;
} */

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: none !important;
}

.navbar__links {
  /* display: flex;
  justify-content: center; */
  /* background-image: url(./images/laptop.svg);
  background-repeat: no-repeat;
  background-position-x: center; */
}

.navbar__links a {
  color: #66FF66 !important;
  /* margin-top: 100px; */
}

/* Background */
body {
  /* background-image: url('./images/new-background.svg'); */
  background-repeat: no-repeat;
  /* background-size: 1550px; */
  /* background-position-y: 10px;
  background-attachment: fixed; */
  background-color: #A2D5F2 !important;

}

::after, ::before {
  box-sizing: unset;
}

svg {
  position: absolute;
  min-width: 1500px;
  bottom: 0;
  left: 0;
  z-index: -1;
}