.dialog {
  min-width: 15rem;
  min-height: 5rem;
}
.form--login {
  display: flex;
  flex-direction: column;
  /* color: whitesmoke; */
  /* max-width: 300px; */
}

.container--login {
  display: flex;
  justify-content: center;
  /* border: 5px black solid; */
  font-family: 'Poppins', sans-serif;
}

.login--signup {
  display: flex;
  padding-bottom: 20px;
  padding-top: 150px;
}

.login {
  padding-right: 10px;
}

.logout a {
    color: rgb(213, 209, 209);
}

.login-btn {
  width: 100%;
}

/* TODO Register */

.register__container {
  display: flex;
  justify-content: center;
  /* border: 5px black solid; */
  font-family: 'Poppins', sans-serif;
}